$quasar-primary: #1976d2;
$quasar-secondary: #26a69a;
$quasar-accent: #9c27b0;

$quasar-dark: #1d1d1d;

$quasar-positive: #21ba45;
$quasar-negative: #c10015;
$quasar-info: #31ccec;
$quasar-warning: #f2c037;
